* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}


button {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance:none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #F2F2F2;
}

.darkBody {
  background-color: #202C36; 
  color: #fff;
}

#root {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin: auto 0;
  /* height: ; */
}

.loader {
  margin-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
}





