.btn {
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.104931);
  padding: 0 25px;
  height: 40px;
  color: inherit;
  background-color: #fff;
  display: flex;
  align-items: center;
  width: fit-content;
}

.btn path {
  fill: #000;
}

.btn svg {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.btn:not(:last-child) {
  margin-right: 10px;
}
