.cardsContainer {
  display: flex;
  max-width: 1278px;
  padding-top: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 50px;
  align-items: stretch;
  margin: auto auto 50px;
}

.cardsPage {
  background: #fafafa;
  color: #111517;
}
