.search {
  width: 480px;
  height: 56px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  background-image: url(../../../Images/search.svg);
  background-position: 32px center;
  background-repeat: no-repeat;
  outline-style: none;
  border: none;
  background-color: #2b3844;
  color: #fff;
  padding-left: 74px;

  font-weight: 400;
  font-size: 14px;
}

.search::placeholder {
  color: #fff;
}
